* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
  --background-color: #f5d7d1;
  --background-secundary-color: #f5d7d1;
  --important-text-color: #7b5e57;
  --font-color: #3a2e2b;
  --font-secondary-color: #fff;
  --decoration-color: #60976973;
  --decoration-color-secondary: #3a86ff;
}

@font-face {
  font-family: "Poppins-regular";
  src: url("public/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-italic";
  src: url("public/fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
}

label,
span {
  user-select: none;
}

body {
  background-color: var(--background-secundary-color);
  color: #3a2e2b;
  font-family: "Poppins-regular";
}

/* NAVBAR  */

.nav-bar {
  background-color: var(--decoration-color);
  padding: 30px 0 30px 6px;
}

.nav-bar__title {
  display: flex;
  font-family: "Poppins-italic";
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  font-size: clamp(1rem, 100%, 2rem);
}

.nav-bar__list {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-bar__list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.nav-bar__form {
  line-height: 0;
  overflow: hidden;
}

.nav-bar__item {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  border-radius: 2px;
  padding: 5px 20px;
  justify-content: center;
}

.nav-bar__item a {
  color: inherit;
  text-decoration: none;
}

.nav-bar__item:hover {
  background-color: var(--decoration-color);
  color: var(--background-color);
}

input[type="checkbox"] {
  display: none;
}

.nav-bar__form {
  position: relative;
  z-index: 20;
}

.nav-bar label {
  position: relative;
  font-size: 2rem;
  color: var(--important-text-color);
}

.close-button {
  color: #3a2e2b;
}

.open-button {
  display: flex;
  position: absolute;
  top: 0;
}

.nav-bar__form .open-button {
  display: none;
}

input[type="checkbox"]:checked ~ label {
  filter: drop-shadow(0 0 0.5rem var(--background-color));
}

.nav-bar:has(input[type="checkbox"]:checked) .nav-bar__form .close-button {
  display: none;
}

.nav-bar:has(input[type="checkbox"]:checked) .nav-bar__form .open-button {
  display: block;
  color: var(--font-color);
}

.nav-bar:has(input[type="checkbox"]:checked) :is(.nav-bar__item a) {
  display: none;
}

.nav-bar:has(input[type="checkbox"]:not(:checked)) .nav-bar__dropdown {
  display: contents;
}

.nav-bar:has(input[type="checkbox"]:checked) .nav-bar__list {
  display: none;
}

/* CONTENT */

.content__section {
  background-color: var(--background-secundary-color);
}

.content__title {
  display: flex;
  justify-content: center;
  padding-top: 0.9rem;
}

.content__subtitle {
  display: flex;
  justify-content: center;
  padding-left: 1.2rem;
  margin-bottom: 10px;
  font-size: clamp(1rem, 0.9rem, 2rem);
}

.section-heading {
  background: var(--background-secundary-color);
  border-right-color: var(--background-secundary-color);
}

.section-heading__tagline-group {
  background: var(--decoration-color);
  color: var(--background-secundary-color);
  display: flex;
  align-items: stretch;
  height: 1.4em;
}

.section-heading__tagline {
  font-family: "Poppins-italic";
  background-color: var(--background-secundary-color);
  color: var(--decoration-color);
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 0.3em;
  margin-left: 0.6em;
  box-sizing: border-box;
  z-index: 20;
  font-size: clamp(1.2rem, 1rem, 2.1rem);
}

.section-heading__decor {
  flex: 1;
}

.info-aside__description {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: clamp(1rem, 1.1rem, 2.1rem);
}

.info-aside__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(4rem, 1fr));
}

.info-aside__item {
  display: flex;
  padding: 0.5rem 1rem;
  list-style: none;
}

.info-aside__item a {
  color: inherit;
  text-decoration: none;
  align-content: center;
  padding-left: 0.9rem;
}

.info-aside__item a:hover {
  text-decoration: underline;
}

/* CONTAINER NEWS */

.container-news {
  background-color: var(--background-secundary-color);
}

.news-title {
  font-size: 1.4rem;
}

.news__item {
  padding: 0.5rem 1rem;
  list-style: circle;
}

.news__item a::before {
  content: "•";
  color: var(--important-text-color);
  font-size: 1.2rem;
  display: inline-block;
  width: 1rem;
}

.news__item a {
  text-decoration: none;
  color: var(--important-text-color);
  font-size: 1.2rem;
  list-style: circle;
}

.news__item a:hover {
  text-decoration: underline;
}

.news__item--no-style a::before {
  content: "";
  color: var(--important-text-color);
}

.news__item--no-style a:hover {
  text-decoration: underline;
}

.news__aside {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.news__aside-item {
  display: flex;
  padding: 0 0.8rem;
  list-style: none;
}

.news__aside-item a {
  text-decoration: none;
  font-size: clamp(1rem, 1.1rem, 2rem);
  color: var(--important-text-color);
}

.news__aside-item a:hover {
  text-decoration: underline;
}

.news__aside-item span {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  color: var(--important-text-color);
}

/* ITEMS */

.items__list-wrapper {
  display: flex;
}

.items__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100dvh;
  padding: 10px;
  gap: 1rem;
  list-style: none;
}

.items__list a {
  text-decoration: none;
  color: var(--important-text-color);
}

.items__list a:hover {
  text-decoration: underline;
}

.items__list-item {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  font-size: clamp(1.2rem, 1rem, 2rem);
}

/* NPCs */

.items--border {
  border: 2px solid var(--decoration-color);
  border-radius: 5px;
  margin: 3px;
}

.items--border--hardmode {
  border-top: 2px solid var(--decoration-color);
}

.items__subtitle {
  padding: 0.5rem;
}

/* Software */

.Software__tittle-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}

.Software__tittle a {
  font-size: clamp(1.1rem, 1.1rem, 2.1rem);
}

.Software__tittle a:hover {
  text-decoration: underline;
}

/* Wiki Community */

.wiki-community__text a {
  color: var(--important-text-color);
  font-size: clamp(1.3rem, 1.2rem, 2.2rem);
  margin-top: 0.2rem;
  margin-left: 0.9rem;
}

.wiki-community__text a:hover {
  text-decoration: underline;
}

.wiki-community__text p {
  margin-left: 2rem;
  margin-top: 0.5rem;
  font-size: clamp(1.1rem, 1.1rem, 2.1rem);
}

/* Footer */

.footer {
  background-color: var(--decoration-color);
  height: 50dvh;
}

.footer h4 {
  display: flex;
  justify-content: center;
  font-size: clamp(1.1rem, 1.1rem, 2.1rem);
  padding-top: 2rem;
}

.footer__hr {
  display: flex;
  margin: 0 auto;
  width: 90%;
  height: 3px;
  margin-top: 2rem;
  border: none;
  border-radius: 2px;
  background: linear-gradient(to right, #e0c3fc, #8ec5fc);
}

.footer a {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--decoration-color-secondary);
}

.footer a:hover {
  color: var(--font-color);
}

/* RESPONSIVE SECTION */

@media screen and (min-width: 320px) {
  .info-aside__list {
    grid-template-columns: 1fr;
  }

  .news__list a {
    font-size: clamp(0.2rem, 1rem, 2rem);
  }

  .news__aside-item a {
    font-size: clamp(0.2rem, 0.8rem, 2rem);
  }

  .items__list {
    grid-template-columns: 1fr;
  }

  .footer {
    height: 15dvh;
  }

  .footer h4,
  a {
    display: flex;
    font-size: clamp(0.2rem, 0.8rem, 2rem);
  }
}

@media (min-width: 414px) {
  .info-aside__list {
    grid-template-columns: 1fr 1fr;
  }

    .news__list a {
    font-size: clamp(0.2rem, 1rem, 2rem);
  }

  .news__aside-item a {
    font-size: clamp(0.2rem, 1.1rem, 2rem);
  }

  .items__list {
    grid-template-columns: 1fr 1fr;
  }

  .items__list-item a {
    font-size: clamp(.2rem, 1rem, 2rem);
  }

  .Software__tittle a, b {
    font-size: clamp(0.2rem, .9rem, 2rem);
  }

  .Software__tittle p {
    font-size: clamp(0.2rem, .8rem, 2rem);
  }

  .wiki-community__text a {
    font-size: clamp(0.2rem, 1rem, 2rem);
  }

  .wiki-community__text p {
    font-size: clamp(0.2rem, .9rem, 2rem);
  }
}

@media screen and (min-width: 600px) {
  /* content responsive */

  .info-aside__item a {
    justify-content: center;
    margin: 0 auto;
  }

  /* Items responsive */

  .items__list-item {
    width: fit-content;
    font-size: clamp(1.3rem, 1rem, 2rem);
  }

  .items__list-item a {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  /* Footer responsive */
  .footer {
    height: 25dvh;
  }
}

@media screen and (min-width: 1280px) {
  /* Navbar responsive */
  .nav-bar__title {
    font-size: clamp(2rem, 100%, 2.2rem);
  }

  .nav-bar__list ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10rem;
  }

  .nav-bar__list a {
    font-size: clamp(1rem, 1.5rem, 2rem);
  }

  .nav-bar__dropdown,
  .nav-bar__form {
    display: none;
  }

  /* Content responsive */

  .content__title {
    font-size: clamp(1.9rem, 100%, 2.2rem);
  }

  .content__subtitle {
    font-size: clamp(1.5rem, 100%, 2.2rem);
  }

  .section-heading__tagline-group {
    height: 2.3rem;
  }

  .section-heading__tagline {
    font-size: clamp(1.8rem, 100%, 2.2rem);
  }

  .info-aside__description {
    font-size: clamp(1.4rem, 1.1rem, 2.2rem);
  }

  .info-aside__item img {
    width: clamp(6.2rem, 1.2rem, 2.2rem);
  }

  .info-aside__item a {
    font-size: clamp(1.7rem, 1.1rem, 2.2rem);
  }

  /* News responsive */

  .news__list a {
    font-size: clamp(1rem, 1.7rem, 2.2rem);
  }

  .news__aside-item {
    margin-left: 2rem;
  }

  .news__aside-item a {
    font-size: clamp(1.8rem, 1.1rem, 2.2rem);
  }

  /* Items responsive */

  .items__list-wrapper {
    width: 100%;
  }

  .items__list-item img {
    width: 2rem;
  }

  .items__list-item--img {
    width: 0.9rem !important;
  }

  .items__list {
    width: 100%;
  }

  .items__list-item a {
    font-size: clamp(1rem, 1.7rem, 2rem);
    margin-left: 20rem;
  }

  /* Mechanic responsive */

  .items__list-item--mana {
    margin-left: 0.1rem !important;
  }

  .items__list-item--death {
    margin-left: 0.1rem !important;
  }

  /* Software responsive */

  .Software__tittle {
    font-size: clamp(1rem, 1.5rem, 2rem);
  }

  .Software__tittle b a {
    font-size: clamp(1rem, 1.5rem, 2rem);
  }

  /* Wiki Community responsive */

  .wiki-community__text a {
    font-size: clamp(1rem, 1.8rem, 2.2rem);
  }

  .wiki-community__text p {
    font-size: clamp(1rem, 1.6rem, 2.2rem);
  }

  /* Subtitle dificult game responsive */

  .items__subtitle {
    font-size: clamp(1rem, 1.7rem, 2.2rem);
  }

  /* Footer responsive */

  .footer h4 {
    font-size: clamp(1rem, 1.7rem, 2.2rem);
  }

  .footer a {
    font-size: clamp(1rem, 1.7rem, 2.2rem);
  }
}
